# Игнорировать виртуальные окружения
.venv/
venv/

# Игнорировать файлы IDE
.idea/
.vscode/

# Игнорировать системные файлы
.DS_Store

# Игнорировать файлы Python байт-кода
__pycache__/
*.pyc

#Log
*.log

#Secret
*.env